:root {
	--color-first: #078586;
	--color-black: #2e2e2e;
	--color-dar: #282f3bfa;
	--color-white: #fff;
	--color-grey: #f0f3f9;
}
.container {
	max-width: 800px;
	padding: 0 20px;
}
.button {
	background-color: var(--color-first);
	color: var(--color-white);
	padding: 20px;
	font-size: 1.1rem;
	font-weight: 500;
	width: max-content;
	border-radius: 10px 0;
	display: inline-block;
}
h3 {
	font-size: 1.5rem;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 20px;
}
.navigation {
	background-color: var(--color-white);
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	right: 0;
	top: 0;
	width: 300px;
	height: 100vh;
	box-shadow: 2px 7px 10px rgba(169, 156, 156, 0.5);
	padding-top: 50px;
	transform: translate(100%);
	transition: 1s ease-in-out transform;
}
.navigation.is-active {
	transform: translateX(0); /* wysuwam menu z lewej strony ekranu */
}
.navigation li {
	text-transform: uppercase;
	padding: 20px;
	color: var(--color-black);
	font-weight: 600;
}
.navigation li:hover {
	color: var(--color-first);
}
.navigation a::after {
	content: "";
	position: absolute;
	display: block;
	left: 50px;
	height: 1px;
	width: 200px;
	background-color: var(--color-first);
}
.mobile__nav__close {
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.section__title {
	font-size: 2rem;
	font-weight: 600;
	padding: 20px 0;
}
.little__title {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--color-first);
}
.offer__description p:last-child {
	padding: 0 10%;
}
.offer__tails {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.offer__tail {
	max-width: 350px;
	height: 430px;
	margin: 40px auto;
	position: relative;
	background-color: black;
	border-radius: 15px;
}
.offer__tail__description {
	position: absolute;
	bottom: 30px;
	padding: 20px;
	color: var(--color-white);
}
.offer__tail img {
	position: relative;
	opacity: 0.8;
	border-radius: 15px;
}
.team__image__box {
	position: relative;
}
.team__image__box img {
	max-width: 100%;
	border-radius: 15px;
}
.team__image__box__description {
	position: absolute;
	bottom: 40px;
	left: 40px;
	background-color: #fff;
	padding: 20px;
	font-weight: 700;
	border-radius: 10px 0 10px;
}
.team__description {
	padding-top: 30px;
}
.team__description__left,
.team__description__right {
	padding-top: 20px;
}
.team__description__right {
	text-align: end;
}
.team__description__below{
	padding-bottom: 15px;
}
.team__description__below h3 {
	padding: 10px 0;
}
.work{
	background-color: var(--color-grey);
	padding: 100px 0;
}
.work__tail{
	padding-top: 40px;
}
.work__tail__step{
	color: var(--color-white);
	background-color: var(--color-first);
	padding: 5px 10px;
	border-radius: 10px 0;
}
footer{
	background-color: var(--color-dar);
	padding-top: 50px;
}
.footer__tail{
	padding: 30px 20px;
	color: var(--color-grey);
}
#paralax {
    /* The image used */
    background-image: url("../assets/wdrozenia1.jpg");
  
    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.reserved{
	background-color: var(--color-black);
	color: #989898;
	text-align: center;
	padding: 5px 0;
}
.blog__article{
	border-radius: 15px;
	box-shadow: 0px 4px 36px -18px rgb(66, 68, 90);
	margin-bottom: 80px;
}

.blog__article__image{
	position: relative;
}
.blog__article__image img{
	border-radius: 15px 15px 0 0;
}
.blog__article__image__title{
	position: absolute; top: 0;background-color: var(--color-dar);color: #fff;padding: 12px;border-radius: 10px 0;text-transform: uppercase;
}
.blog__article__description::after{
	content: '';
	position: absolute;
	width: 300px;
	height: 2px;
	background-color: var(--color-grey);
	bottom: 45px;
}
.blog__article__description{
	padding: 40px;
}
.article__data{
	text-transform: uppercase;
	color: var(--color-first);
	font-weight: 600;
	font-size: 0.9rem;
}
.article{
	padding-bottom: 80px;
}
.article__little__title{
	font-weight: 600;
  padding: 20px 0;
}
.tag{
	text-transform: uppercase;
	color: var(--color-white);
	border: 3px solid var(--color-first);
	padding: 7px;
	border-radius: 2px;
}
.tags{
	position: absolute;
	bottom: 20px;
	left: 20px;
}

/* szkolenia */
.study{
	display: flex;
	flex-wrap: wrap-reverse;
	font-size: 1.1rem;
}
.study__all{
	width: 100%;
}
.study__offer{
	position: relative;
	text-align: center;
}
.study__offer::after{
	position: absolute;
  content: "";
  width: 10px;
  left: -10px;
  height: 10px;
  border-radius: 10px;
  background: var(--color-first);
  top: 0;
  bottom: 0;
  margin: auto;
}
.study__offer::before{
	position: absolute;
  content: "";
  width: 40px;
  left: 0px;
  height: 2px;
  background: var(--color-first);
  top: 0;
  bottom: 0;
  margin: auto;
}
.accordion__box{
	padding-top: 20px;
}
.accordion{
	border-bottom: 2px solid var(--color-grey);
}
.accordion__title {
	background-color: var(--color-white);
	color: var(--color-dar);
	cursor: pointer;
	font-size: 1.3rem;
	padding: 18px 0;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeacc, .accordion:hover {
	color: var(--color-first)
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
	padding: 10px 0 10px 20px;
	background-color: white;
	display: none;
	overflow: hidden;
	font-size: 1.2rem;
  }
  .panel li{
	padding: 10px 0;
	border-bottom: 1px solid var(--color-grey);
  }
  .study__all__pdf{
	background-color: var(--color-grey);
	color: var(--color-first);
	border-radius: 15px;
	font-size: 1.8rem;
	padding: 50px 20px;
	margin: 70px 0;
	text-align: center;
	position: relative;
  }
  .study__all__pdf img{
	display: none;
  }
.study__all__description{
	padding: 50px 0;
}
.study__all__description__columns{
	padding-top: 30px;
}

.study__check{
	box-shadow: 2px 4px 14px -6px var(--color-dar);
	border-radius: 15px;
	padding: 40px;
	margin-top: 30px;
}
.study__check img{
	margin-top: 30px;
	margin-right: 20px;
}
.study__check p{
	padding-top: 20px;
	line-height: 1.3rem;
}

.before__footer__left{
	position: relative;
	padding: 40px 20px;
}
.before__footer__right{
	padding: 0 20px 20px;
}
.before__footer__left::after{
	position: absolute;
	content: "";
	width: 5px;
	height: 80px;
	bottom: 35px;
	left: 0;
	background-color: var(--color-white);
}
.before__footer__title{
	font-size: 1.8rem;
	font-weight: 600;
}
.before__footer__title__mini{
	font-size: 1.2rem;
}
.before__footer__right{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.before__footer__right p{
	font-size: 3rem;
	padding-left: 50px;
}
/* wdrożenia */
.process__hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0;
}


.process__list{
	background-color: var(--color-white);
	padding: 20px;
	width: 270px;
	position: relative;
	z-index: 1;
	top: -30px;
	left: 30px;
	margin-bottom: 70px;
	border-radius: 15px;
	box-shadow:  3px 2px 10px -3px rgba(66, 68, 90, 1);
}
.process__list li{
	font-size: 1.3rem;
	border-bottom: 1px solid var(--color-grey);
	padding: 20px 0;
}
.process__list__action {
	background-color: var(--color-first);
	width: 100%;
	font-size: 1.3rem;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	left: 0;
}
.process__hero__description__title{
	text-decoration: underline;
  	font-size: 1.5rem;
  	font-weight: 600;
}
.hero__title{
	padding: 10px 0;
}
.process__about__list{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	top: -20px;
	padding: 0 100px;
}
.process__about__list p{
	padding: 10px 25px;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.3rem;
  margin: 10px auto;
  width: 210px;
  text-align: center;
}
.process__article{
	padding-top: 80px;
}
.process__article__image{
	width: 100%;
}
.process__article img{
	max-width: 100%;
	height: 50%;
	object-fit: cover;
}
.process__article__description{
	width: 100%;
	padding: 50px 0;
}
.process__article__description__p{
	font-size: 1.1rem;
	line-height: 1.5rem;
	padding-bottom: 30px;
}
.process__full{
	padding: 100px 0;
}
.process__full__tail ul{
	padding-left: 50px;
}
.process__full__tail{
	padding-top: 50px;
}
.process__full__tail li{
	font-size: 1.1rem;
	padding: 8px 0;
}
.process__full__tail li img{
	position: relative;
  bottom: -10px;
  padding-right: 10px;
}
.team__hero{
	background-image: url(../assets/rece.avif);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
	background-color: var(--color-black);
	display: flex;
	margin: 100px 0;
	padding-bottom: 50px;
	border-radius: 15px;
}

.team__hero__dark{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--color-dar);
	background: linear-gradient(352deg, rgb(46, 46, 46) 19%, rgb(9, 9, 9) 100%);
  opacity: 80%;
  border-radius: 15px;
  top: 0;
}
.team__hero__description{
	padding: 0 30px 0 30px;
  	position: absolute;
	color: var(--color-white);
}
.team__little__title{
	font-size: 2rem;
	text-decoration: underline;
	color: var(--color-first);
	font-weight: 600;
}
.team__big__title{
	font-size: 3rem;
	color: var(--color-white);
	font-weight: 600;
	padding-top: 10px;
}
.citat{
	font-style: italic;
	font-size: 1.5rem;
	padding: 20px;
}
.citat__author{
	font-size: 1.4rem;
	text-align: end;
	padding-right: 50px;
}


.team{
	background-color: var(--color-grey);
	padding: 100px 0;
}
.team__tail{
	min-width: 300px;
  max-width: calc(100% / 3 - 50px);
  height: 400px;
  margin: 25px auto;
  position: relative;
  z-index: 1;
  background-color: black;
  transition: 0.5s ease;
  border-radius: 15px;
}
.team__tail img{
	border-radius: 15px;
	transition: all 1s ease;
}
.team__tail__description{
	position: absolute;
  bottom: 90px;
  padding: 20px;
  transition: all 0.5s ease;
}

.team__button{
	position: absolute;
  bottom: 30px;
  margin-left: 30px;
}
#pawel{
	background-color: var(--color-grey);
}
.person{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
}
#pawel .person{
	flex-direction: column-reverse;
}
.person img{
	width: 50%;
	max-height: 500px;
	object-fit: cover;
	object-position: 100% top;
	border-radius: 15px;
	margin-bottom: 30px;
}

